.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

build/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/caches
.externalNativeBuild
google-services.json
freeline.py
freeline/
freeline_project_description.json
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
